<div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <h2>El clima</h2>

        <form action="">
            <div class="input-group mb-3">
                <input class="form-control" (keyup)="searchCiudad(inputBuscar.value)" placeholder="ingrese ciudad" #inputBuscar />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchCiudad(inputBuscar.value)">Buscar</button>
                </div>
            </div>
        </form>

        <app-weather-card [currentWeather]="listaClima" [isLoading]="loading"></app-weather-card>
    </div>
    <!-- <app-weather-card></app-weather-card> -->
    <div class="col-sm-2"></div>
</div>

<footer class="footer">
    <button class="btn btn-primary btn-block" [routerLink]="['/my-tasks']">Ver todas mis tareas</button>
</footer>